<h2>My Mechanics</h2>
<ul class="heroes">
  <li *ngFor="let mechanic of mechanics"
    [class.selected]="mechanic === selectedMechanic"
    (click)="onSelect(mechanic)">
    <span class="badge">{{mechanic.id}}</span> {{mechanic.name}}
  </li>
</ul>

<app-mechanic-detail [hero]="selectedMechanic"></app-mechanic-detail>

<div *ngIf="selectedMechanic">
  <h2>{{ selectedMechanic.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedMechanic.id}}</div>
  <div>
    <label>name:
          <input [(ngModel)]="selectedMechanic.name" placeholder="name">
        </label>
  </div>
</div>
